*{
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;

}
#typeheadComponent.temp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#typeheadComponent input{
  width: 400px;
  /*height: 30px;
  line-height: 30px;*/
}
.dropdown{
  padding: 10px;
  list-style: none;
  width: 400px;
}

.dropdown.hidden{
  display: none;
}

.dropdown .itm{
  margin: 1px 0;
  border: 1px solid #333333;
  cursor: pointer;
}
.dropdown .itm.selected{
  background: #06746e;
}
.dropdown .itm:hover{
  background: #06746e;
}

























@media only screen and (max-width : 1024px) {
  .dropdown .itm{
    background: green;
  }

}

@media only screen and (max-width : 800px) {
  .dropdown .itm{
    background: white;
  }
}

@media only screen and (max-width : 640px) {
  .dropdown .itm{
    background: yellow;
  }
}

@media only screen and (max-width : 324px) {
  .dropdown .itm{
    background: white;
  }
}
